body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #627BC1;
    color: white;
    padding: 10px;
    text-align: center;
}

#map {
    width: 100%;
    height: 600px;
}

#info-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#info {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#chart {
    width: 50%;
    height: 400px;
}

#explanation-section {
    margin: 20px;
    padding: 10px;
    border-top: 2px solid #627BC1;
    background-color: #f1f1f1;
}
